@charset "UTF-8";
/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  min-height: 50rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
}
@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
  }
}

.header {
  background-color: var(--color-grey-light-1);
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 31.25em) {
  .header {
    flex-wrap: wrap;
    padding: 1rem 0;
  }
}

.content {
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }
}

.side-bar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: var(--color-grey-light-4);
  flex: 1;
}

.detail {
  display: flex;
  padding: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .detail {
    padding: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .detail {
    flex-direction: column;
  }
}

.description {
  flex: 0 0 60%;
  margin-right: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .description {
    margin-right: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .description {
    margin-right: 0;
  }
}

.user-review {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 5.5rem;
  margin: 1rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media only screen and (max-width: 31.25em) {
  .search {
    flex: 0 0 100%;
    order: 1;
    background-color: var(--color-grey-light-2);
  }
}
.search__input {
  padding: 1rem 3rem 1rem 2rem;
  border: none;
  background-color: var(--color-grey-light-2);
  border-radius: 50px;
  width: 85%;
  transition: all 0.2s;
  font-size: inherit;
  color: var(--color-grey-dark-2);
  z-index: 2;
}
.search__input::placeholder {
  color: var(--color-grey-light-4);
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
}
.search__suggestion {
  position: absolute;
  top: 100%;
  width: 85%;
  background-color: var(--color-grey-light-3);
  padding: 4rem 1rem 0.3rem 1rem;
  border-radius: 20px;
  transform: translateY(-5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
.search__suggestion-item {
  text-align: center;
  margin: 1rem 0;
}
.search__button {
  border: none;
  position: absolute;
  top: 50%;
  right: 9%;
  background-color: transparent;
  z-index: 2;
  transform: translateY(-50%);
  transition: all 0.2s;
}
.search__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-grey-dark-2);
}
.search__input:focus ~ .search__button {
  right: 2%;
}
.search__input:focus ~ .search__suggestion {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.search__input:placeholder-shown ~ .search__suggestion {
  opacity: 0;
  visibility: hidden;
}

.user-nav {
  display: flex;
}
.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.user-nav > *:hover {
  background-color: var(--color-grey-light-4);
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__icon {
  width: 2.25rem;
  height: 2.25rem;
  fill: var(--color-grey-dark-2);
}
.user-nav__notification {
  width: 2rem;
  height: 2rem;
  color: var(--color-grey-light-1);
  border-radius: 50px;
  font-weight: 900;
  font-size: 0.8rem;
  background-color: var(--color-primary);
  position: absolute;
  top: 0.6rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav__user {
  position: relative;
}
.user-nav__user-photo {
  width: 3.75rem;
  border-radius: 50px;
  margin-right: 1rem;
}
.user-nav__user-menu {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-70%);
  width: 150%;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.6);
  clip-path: polygon(0 0, 100% 0);
}
.user-nav__user-menu ul {
  list-style: none;
}
.user-nav__user-menu ul li {
  padding: 1rem 2rem;
}
.user-nav__user-menu ul li:hover {
  color: var(--color-grey-light-3);
  background-color: var(--color-grey-dark-3);
}
.user-nav__user-menu ul li a {
  display: inline-block;
}
.user-nav__user-menu ul li a:link, .user-nav__user-menu ul li a:visited {
  color: currentColor;
  text-decoration: none;
}
.user-nav__user:hover .user-nav__user-menu {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 1;
}

.side-nav {
  list-style: none;
  font-size: 1.4rem;
  margin-top: 3.5rem;
}
@media only screen and (max-width: 56.25em) {
  .side-nav {
    display: flex;
    margin-top: 0;
  }
}
.side-nav__item {
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .side-nav__item {
    flex: 1;
  }
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.side-nav__item::before {
  content: "";
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transition: transform 0.1s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s;
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__item:active::before {
  background-color: var(--color-primary-light);
}
.side-nav__link:link, .side-nav__link:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-grey-light-1);
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
}
@media only screen and (max-width: 31.25em) {
  .side-nav__link:link, .side-nav__link:visited {
    font-size: 1rem;
    padding: 1rem 2.5rem;
  }
}
@media only screen and (max-width: 25em) {
  .side-nav__link:link, .side-nav__link:visited {
    padding: 0.5rem 1rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .side-nav__link {
    justify-content: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .side-nav__link {
    flex-direction: column;
  }
}
.side-nav__icon {
  height: 1.75rem;
  width: 1.75rem;
  margin-right: 2rem;
  fill: currentColor;
}
@media only screen and (max-width: 37.5em) {
  .side-nav__icon {
    margin-right: 0;
  }
}

.legal {
  text-align: center;
  font-size: 1.1rem;
  color: var(--color-grey-light-1);
  margin-bottom: 3.5rem;
}
@media only screen and (max-width: 56.25em) {
  .legal {
    display: none;
  }
}

.gallery {
  display: flex;
}
.gallery__item {
  display: inline-block;
  width: 100%;
  position: relative;
}
.gallery__photo {
  display: inline-block;
  width: 100%;
  transition: all 0.5s;
}
.gallery__photo:hover {
  animation: zoomin 0.5s forwards;
}

@keyframes zoomin {
  0% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
  100% {
    position: absolute;
    width: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
}
.overview {
  display: flex;
  align-items: center;
  background-color: var(--color-grey-light-1);
}
@media only screen and (max-width: 25em) {
  .overview {
    flex-wrap: wrap;
  }
}
.overview__hotel {
  text-transform: uppercase;
  color: var(--color-grey-dark-2);
  font-size: 2.25rem;
  font-weight: 300;
  margin: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .overview__hotel {
    font-size: 1.8rem;
    margin: 1.5rem 1rem;
  }
}
.overview__star {
  margin-right: auto;
  display: flex;
}
@media only screen and (max-width: 25em) {
  .overview__star {
    margin-right: 0;
    margin-left: auto;
  }
}
.overview__icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-primary);
}
.overview__location {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 25em) {
  .overview__location {
    justify-content: center;
    flex: 0 0 50%;
  }
}
.overview__rating {
  color: var(--color-grey-light-1);
  background-color: var(--color-primary);
  margin-left: 3rem;
  padding: 0 2.25rem;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .overview__rating {
    padding: 0 1.25rem;
    margin-left: 1.5rem;
  }
}
@media only screen and (max-width: 25em) {
  .overview__rating {
    flex-direction: row;
    margin-left: 0;
    padding: 1rem 0;
    flex: 0 0 50%;
  }
}
.overview__rating-average {
  font-size: 2.25rem;
  font-weight: 300;
}
@media only screen and (max-width: 37.5em) {
  .overview__rating-average {
    font-size: 1.25rem;
    font-weight: 600;
  }
}
@media only screen and (max-width: 25em) {
  .overview__rating-average {
    margin-right: 0.5rem;
  }
  .overview__rating-average::after {
    content: " /";
  }
}
.overview__rating-count {
  font-size: 0.8rem;
  font-weight: 800;
}
@media only screen and (max-width: 37.5em) {
  .overview__rating-count {
    font-weight: 900;
  }
}

.btn {
  border: none;
  font-size: inherit;
  background-color: transparent;
  border-bottom: 1px solid currentColor;
  color: var(--color-primary);
  cursor: pointer;
  transition: all 0.2s;
  display: inline-block;
}
.btn--inline {
  transform: all 0.2s;
}
.btn--inline:hover {
  color: var(--color-grey-dark-1);
}
.btn--inline:hover span {
  margin-left: 3px;
}
.btn--inline:focus {
  animation: pulstate 0.5s infinite;
}
.btn--cta {
  color: var(--color-grey-light-1);
  border: none;
  background-color: var(--color-primary);
  border-radius: 50px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}
.btn > * {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}
.btn__visible {
  padding: 2rem 7.5rem;
}
.btn__invisible {
  position: absolute;
  padding: 2rem 0;
  top: -100%;
  left: 0;
}
.btn--cta:hover > .btn__visible {
  transform: translateY(100%);
}
.btn--cta:hover > .btn__invisible {
  top: 0;
}

@keyframes pulstate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
.description {
  color: var(--color-grey-dark-1);
  background-color: white;
  padding: 2rem;
  font-size: 1.2rem;
}
@media only screen and (max-width: 37.5em) {
  .description {
    margin-bottom: 2rem;
  }
}
.description .paragraph {
  margin-bottom: 2rem;
}
.description .amenity {
  list-style: none;
  padding: 2rem 0;
  border-top: 1px solid var(--color-grey-light-4);
  border-bottom: 1px solid var(--color-grey-light-4);
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 25em) {
  .description .amenity {
    display: block;
  }
}
.description .amenity__item {
  flex: 0 0 50%;
  margin-bottom: 0.7rem;
}
.description .amenity__item:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.7rem;
  background-color: var(--color-primary);
  mask-image: url(../img/chevron-thin-right.svg);
  -webkit-mask-image: url(../img/chevron-thin-right.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
}
.description .recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-2);
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
@media only screen and (max-width: 25em) {
  .description .recommend {
    display: block;
  }
}
.description .recommend__count {
  margin-right: auto;
}
.description .recommend__photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  border: 3px solid white;
  box-sizing: content-box;
}
.description .recommend__photo:not(:last-child) {
  margin-right: -1.5rem;
}

.user-review .review {
  background-color: white;
  font-size: 1.2rem;
  padding: 2rem;
  color: var(--color-grey-dark-1);
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .user-review .review {
    margin-bottom: 2rem;
    width: 75%;
  }
}
.user-review .review::before {
  font-family: sans-serif;
  content: "“";
  font-size: 20rem;
  position: absolute;
  color: var(--color-grey-light-2);
  line-height: 1;
  top: -3.1rem;
  left: -1rem;
  z-index: 1;
}
.user-review .review__text {
  position: relative;
  margin-bottom: 1rem;
  z-index: 2;
}
.user-review .review__user {
  display: flex;
  align-items: center;
}
.user-review .review__user-image {
  width: 4rem;
  border-radius: 50px;
  margin-right: 1rem;
}
.user-review .review__user-box {
  margin-right: auto;
}
.user-review .review__user-name {
  text-transform: uppercase;
  font-size: 1rem;
}
.user-review .review__user-date {
  color: var(--color-grey-dark-2);
  font-size: 0.9rem;
}
.user-review .review__user-rating {
  font-size: 1.6rem;
  color: var(--color-primary);
}

.cta {
  background-color: var(--color-grey-light-2);
  padding: 4rem;
  font-size: 1.8rem;
}
@media only screen and (max-width: 37.5em) {
  .cta {
    padding: 1rem;
  }
}
.cta__heading {
  color: var(--color-grey-dark-1);
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
  line-height: 3rem;
  text-align: center;
  font-size: inherit;
}

/*# sourceMappingURL=style.comp.css.map */
